In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
ans :
    *         = Arithmatic Operator
    'hello'   = string
    -87.8     = float value
    -         = Arithmatic Operator
    /         = Arithmatic Operator      
    +         = Arithmatic Operator
    6         = integer value

In [ ]:
2. What is the difference between string and variable?
ans:
    name = 'sam'
    as shown above name is said to be a variable and 'sam' is said to be a string
    so variable means which stores the value and string means which is declared in single or double quotation.

In [ ]:
3. Describe three different data types.
ans:
    integer,string,float

In [ ]:
4. What is an expression made up of? What do all expressions do?
ans:
    expression is a made up of variable,values and operators.
    All expressions evaluate the equations and reduces to a single value.

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
ans:
    An expression means which evaluates to a single value,but statement does not and statement means like command eg:print.

In [2]:
#6. After running the following code, what does the variable bacon contain?
#bacon = 22
#bacon + 1
#ans:
bacon = 22
bacon + 1

23

In [ ]:
After running the following code,the variable bacon contain 23.

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
ans:

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

In [ ]:
the values is same

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?
ans:
    eggs is a valid variable name because variable name should start with abphabets and 100 is a invalid because variable name cannot start with integer but eggs100 will be a valid variable name.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
ans:
    int(), float(), and str()

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
ans:
    The expression causes an error because 99 is an integer,because str can only concatenate str (not "int") to str.

In [5]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [6]:
#we can fix this by type casting 
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'